<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <!-- <clear /> --> 
    <add key="mbcpublic" value="https://mbeec.pkgs.visualstudio.com/_packaging/public/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <mbcpublic>
      <add key="Username" value="vsts-pat" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAHlCAhz/VT0WC4clhVJXxIgAAAAACAAAAAAAQZgAAAAEAACAAAAAu/N41S5d3S3XjBRgkWJknYiu4UD7hGAWZbGEfDaOIkAAAAAAOgAAAAAIAACAAAABjhG3QYiNIBWbZz4RHsuQ7PmCDcPCLLLcXiUNiArRQjEAAAAAHN0D7yZ3xQ1BClngmZWaNBHhvUM0h3Pu6b2V+VI/12d3a2Eq2khGS0zIvEd2KXrsI7s0ATZtsS4L//xwqY1ecQAAAAGy61kuIkEJCwaTGVW989Cg3cuZNmqtVKxoOxO7au3igZmkrIT3+DK8hfr6CGr6OcRbFGmQ5JWGBoIRlYZLvxRc=" />
    </mbcpublic>
  </packageSourceCredentials>
</configuration>
