<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <!-- <clear /> --> 
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="mbcpublic" value="https://mbeec.pkgs.visualstudio.com/_packaging/public/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <mbcpublic>
      <add key="Username" value="vsts-ReadWrite-Pat" />
      <add key="ClearTextPassword" value="jgozpc4b4vnelv7nszg6oyrmi2d6w2kqkbwlr7cxaohhnwjkm25q" />      
    </mbcpublic>
  </packageSourceCredentials>
</configuration>
  